# Infraestructura — no necesaria para los participantes
docker-compose.yml

# Archivos auxiliares generados por LaTeX
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.spl

# PDF generado
*.pdf
